.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 5%;
    background-color: var(--primary-light);
    height: 20vh;
    text-align: center;
}

.footer div {
    width: 100%;
    display: block;
}

.footer h5 {
    margin: 0;
}

.footer p {
    margin: 0;
    font-size: small;
    color: var(--secondary-text);
}

.links i {
    font-size: 1.5rem;
    padding: .5rem;
    
}

.links i:hover {
    cursor: pointer;
    color: var(--accent-light);
}